body{
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	height: 100%;
	width: 100%;
	background-image: url("../images/bgBrown1.jpg");
	background-repeat: no-repeat;
	background-size: 700vw 500vw;

}


@media only screen and   (min-width:768px)
{


.menu{

	margin-top: 30px;

}

.mainTop{
	
	
	color: white;
	height: auto;


}

.mainTop .mainMenu li{
	color: white;
	display: inline;
	border-right: solid black 2px;
	


}

.mainMenu a:hover{
	color: black !important;
}

.mainTop .mainMenu li a{
	color: white;
}

.mainTop .mainMenu {
	color:white;
	width:65vw;
	float: right;
}

.mainTop .mainMenu input{

	padding-top: 2px;
	height: 38px;
}

.mainTop .currency{
	margin-left: 20vw;
	background-color: white !important;
	color: black !important;
}


.mainTop .subMenu{

	background-color:white;
	border-radius: 5px;
	margin-right:20px;
	margin-left: 20px;
	margin-top: 20px;
}



.hr{
	box-shadow: 0px 0px 10px black;
	height: 2px; 
}






}