.men{
	margin-right: auto;
	margin-left: auto;
	
	background-color:grey; 
	color: black; 
	overflow: hidden;
}

.m-leftMenu{
	background-color:black;
	width: 10vw;
	margin-top: 5vw;
	text-align: center;
	font: white; 
	margin-left: 3vw;
	float: left;

}

.m-leftMenu li{
	text-align: center;
	padding-top: 1vw;
}

.formalPants{

	width: 40vw;
	height: 100%;
	float: right;
	margin-right: auto;
	margin-left: auto;
}

.display{
	border: 2px solid black;
	margin-top: 5vw;
	margin-right: 5vw;
	width: 70vw;
	height: 100%;
	float: right;


}