
<div class="container">

<h3 class="#388e3c green darken-2"> Continue Courses</h3>
<div class="container">

<div class="row hoverable #a5d6a7 green lighten-3" style="padding: 10px 3px 10px 3px;">
<div class="col l5 offset-l1  col s10 offset-s1">
<iframe width="auto" height="auto"  style="float-right;margin-left:10px;border:1px solid black;"
src="https://www.youtube.com/embed/bWPMSSsVdPk"  allowfullscreen>
</iframe>
</div>
<div class="col l5 offset-l1    col s6">
<iframe width="auto" height="auto"   style="float-right;margin-left:1px;border:1px solid black;"
src="https://www.youtube.com/embed/KJ13lX20FqU" allowfullscreen>
</iframe>
</div>
<div class="col l5 offset-l1    col s6">
<iframe width="auto" height="auto"  style="float-right;margin-left:1px;border:1px solid black;"
src="https://www.youtube.com/embed/0afZj1G0BIE" allowfullscreen>
</iframe>
</div>
<div class="col l5 offset-l1    col s6">
<iframe width="auto" height="auto"  style="float-right; margin-left:1px; border:1px solid black;"
src="https://www.youtube.com/embed/Ukg_U3CnJWI" allowfullscreen>
</iframe>
</div>
</div>
</div>

<h3 class="#388e3c green darken-2"> Trending </h3>
<div class="container">

<div class="row hoverable #a5d6a7 green lighten-3" style="padding: 10px 3px 10px 3px;">
<div class="col l5 offset-l1    col s6">
<iframe width="auto" height="auto"  style="float-right;margin-left:1px;border:1px solid black;"
src="https://www.youtube.com/embed/bWPMSSsVdPk"  allowfullscreen>
</iframe>
</div>
<div class="col l5 offset-l1    col s6">
<iframe width="auto" height="auto"   style="float-right;margin-left:1px;border:1px solid black;"
src="https://www.youtube.com/embed/KJ13lX20FqU" allowfullscreen>
</iframe>
</div>
<div class="col l5 offset-l1    col s6">
<iframe width="auto" height="auto"  style="float-right;margin-left:1px;border:1px solid black;"
src="https://www.youtube.com/embed/0afZj1G0BIE" allowfullscreen>
</iframe>
</div>
<div class="col l5 offset-l1    col s6">
<iframe width="auto" height="auto"  style="float-right; margin-left:1px; border:1px solid black;"
src="https://www.youtube.com/embed/Ukg_U3CnJWI" allowfullscreen>
</iframe>
</div>
</div>
</div>

<h3 class="#388e3c green darken-2"> Revision </h3>
<div class="container">

<div class="row hoverable #a5d6a7 green lighten-3" style="padding: 10px 3px 10px 3px;">
<div class="col l5 offset-l1    col s6">
<iframe width="auto" height="auto"  style="float-right;margin-left:1px;border:1px solid black;"
src="https://www.youtube.com/embed/bWPMSSsVdPk"  allowfullscreen>
</iframe>
</div>
<div class="col l5 offset-l1    col s6">
<iframe width="auto" height="auto"   style="float-right;margin-left:1px;border:1px solid black;"
src="https://www.youtube.com/embed/KJ13lX20FqU" allowfullscreen>
</iframe>
</div>
<div class="col l5 offset-l1    col s6">
<iframe width="auto" height="auto"  style="float-right;margin-left:1px;border:1px solid black;"
src="https://www.youtube.com/embed/0afZj1G0BIE" allowfullscreen>
</iframe>
</div>
<div class="col l5 offset-l1    col s6">
<iframe width="auto" height="auto"  style="float-right; margin-left:1px; border:1px solid black;"
src="https://www.youtube.com/embed/Ukg_U3CnJWI" allowfullscreen>
</iframe>
</div>
</div>
</div>

<h3 class="#388e3c green darken-2"> Recommended </h3>
<div class="container">

<div class="row hoverable #a5d6a7 green lighten-3" style="padding: 10px 3px 10px 3px;">
<div class="col l5 offset-l1    col s6">
<iframe width="auto" height="auto"  style="float-right;margin-left:1px;border:1px solid black;"
src="https://www.youtube.com/embed/bWPMSSsVdPk"  allowfullscreen>
</iframe>
</div>
<div class="col l5 offset-l1    col s6">
<iframe width="auto" height="auto"   style="float-right;margin-left:1px;border:1px solid black;"
src="https://www.youtube.com/embed/KJ13lX20FqU" allowfullscreen>
</iframe>
</div>
<div class="col l5 offset-l1    col s6">
<iframe width="auto" height="auto"  style="float-right;margin-left:1px;border:1px solid black;"
src="https://www.youtube.com/embed/0afZj1G0BIE" allowfullscreen>
</iframe>
</div>
<div class="col l5 offset-l1    col s6">
<iframe width="auto" height="auto"  style="float-right; margin-left:1px; border:1px solid black;"
src="https://www.youtube.com/embed/Ukg_U3CnJWI" allowfullscreen>
</iframe>
</div>
</div>
</div>

</div>





			<div class="section"></div>

			<!-- Social Connect-->

				<div class="social">
				<div class="s-icons">
				<ul>
					<li><a href="#"><img src="images/fb.png" width="30vw" height="30vw"></a></li>
					<li><a href="#"><img src="images/twitter.png" width="30vw" height="30vw"></a></li>
				</ul>

				<p>
					Get in touch with us<br> thorugh our social network.
				</p>
				</div>


			</div>

			<!-- End Social Connect-->

			<!-- Footer-->