

<div ng-controller="myCoursesController">
			<center><h5>My Courses</h5></center>



			<div class="container">
				
				<div class="row">

					<div class="col s6 l4">
						  <div class="card center" >
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="http://www.bapugraphics.com/assets/img/course/html5-course-icon.jpg" width="50px" height="auto">
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Html 5 By Kash<i class="material-icons right">Rating :5 Star</i></span>
			      <p><a href="#">Visit Again</a></p>
			    </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Html 5 By Kash<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
			  </div>
            
					</div>


						<div class="col s6 l4">
						  <div class="card center" >
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="http://www.bapugraphics.com/assets/img/course/html5-course-icon.jpg" width="50px" height="auto">
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Java 5 By Kash<i class="material-icons right">Rating: 3Star</i></span>
			      <p><a href="#">Revisit</a></p>
			    </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Java 5 By Kash<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
			  </div>
            
					</div>


						<div class="col s6 l4">
						  <div class="card center" >
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="http://www.bapugraphics.com/assets/img/course/html5-course-icon.jpg" width="50px" height="auto">
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Python 5 By Kash<i class="material-icons right">Rating:2Star</i></span>
			      <p><a href="#">Revisit</a></p>
			    </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Python 5 By Kash<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
			  </div>
            
					</div>
					
				</div>

			</div>
			
	
	

</div>