<div ng-controller="myCoursesController">
	<h3>Courses taken:</h3>
	<style>
	    ul {
  list-style: none;
}

ul li:before {
  content: '✓';
}
	</style>
	<ul>
	    <li><a href="https://www.youtube.com/watch?v=dD2EISBDjWM&list=PLr6-GrHUlVf_ZNmuQSXdS197Oyr1L9sPB"> HTML5 for beginners</a></li>
		<li><a href="https://www.youtube.com/watch?v=qKoajPPWpmo&list=PLr6-GrHUlVf8JIgLcu3sHigvQjTw_aC9C"> CSS for beginners</a> </li>
		<li><a href="https://www.youtube.com/watch?v=yQaAGmHNn9s&list=PL46F0A159EC02DF82"> Javascript for beginners</a></li>
		<li><a href="https://www.youtube.com/playlist?list=PLQVvvaa0QuDe8XSftW-RAxdo6OmaeL85M"> Python Basics Tutorial Series </a></li>
	</ul>

</div>