<div ng-controller="recomendedCoursesController">
    <h3>Courses Recommended:</h3>
	<style>
	    ul {
  list-style: none;
}

ul li:before {
  content: '>>';
}
	</style>
	<ul>
	    <li><a href="https://www.youtube.com/watch?v=Mp0f0zTPLec&list=PL081AC329706B2953"> HTML5 tutorial by TheNewBoston</a></li>
		<li><a href="https://www.youtube.com/watch?v=cqszz_OfAFQ&list=PLC1322B5A0180C946"> XHTML and CSS tutorial by TheNewBoston</a> </li>
		<li><a href="https://www.youtube.com/watch?v=yQaAGmHNn9s&list=PL46F0A159EC02DF82"> Javascript tutorial by TheNewBoston</a></li>
		<li><a href="https://www.youtube.com/watch?v=ZVGwqnjOKjk&list=PL6gx4Cwl9DGDi9F_slcQK7knjtO8TUvUs"> Flask Web Development Series </a></li>
	</ul>

	
</div>