<div ng-controller="recomendedCoursesController">
    <center><h5>Courses Recommended:</h5></center>
	


    <div class="" style="margin-left: 10vw;margin-right: 10vw;">
	 <table>
        <center><thead>
          <tr>
              <th>Course</th>
              <th>Rating</th>
              <th>Link</th>
            
          </tr>
        </thead></center>

        <center><tbody>
          <tr class="hoverable">
            <td>Alvin
            </td>
            <td>3</td>
            <td>Visit</td>
            
            <th><tr>
            	<td>
            		 <div class="collection hoverable" width="50px">
   <a href="#!" class="collection-item"><span></span>Rating:4/5</a>
    <a href="#!" class="collection-item"><span></span>It is a very good course.You should learn it.</a>
    
  </div>

            	</td>

            </tr></th>
          </tr>

          <tr class="hoverable">
            <td>Alan</td>
            <td>3</td>
            <td>Visit</td>


            <th><tr>
            	<td>
            		 <div class="collection hoverable" width="50px">
    <a href="#!" class="collection-item"><span></span>Rating:4/5</a>
    <a href="#!" class="collection-item"><span></span>It is a very good course.You should learn it.</a>
    
  </div>

            	</td>

            </tr></th>


          </tr>
          <tr class="hoverable">
            <td>Jonathan</td>
            <td>2</td>
            <td>Visit</td>

            <th><tr>
            	<td>
            		 <div class="collection hoverable" width="50px">
    <a href="#!" class="collection-item"><span></span>Rating:4/5</a>
    <a href="#!" class="collection-item"><span></span>It is a very good course.You should learn it.</a>
    
  </div>

            	</td>

            </tr></th>
          </tr>
        </tbody></center>
      </table>

</div>

	
</div>