<div ng-controller="scorecardController">
	


<center style="padding: 40px 30px 40px 30px">
	
			<div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
         
         	<div class="col s2 l2">
         		<img src="images/rahul.jpg" width="200px" class="circle">
         	</div>   
            <div class="col s10 l10">
            	<h5>Scorecard</h5>
              <span class="black-text">
              <div class="" style="margin-left: 10vw;margin-right: 10vw;">
	 <table>
        <center><thead>
          <tr>
              <th>Course</th>
              <th>Rating</th>
              <th>Score</th>
          </tr>
        </thead></center>

        <center><tbody>
          <tr>
            <td>Alvin</td>
            <td>3</td>
            <td>33%</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>3</td>
            <td>50%</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>2</td>
            <td>10%</td>
          </tr>
        </tbody></center>
      </table>

</div>


              </span>
            </div>
          </div>
        </div>
      </div>
            


</center>



</div>